# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
.cache/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo

# Docker volumes
data/
prometheus-data/
jaeger-data/

# Exports gerados
otel-trace-export.json
